
<div class="d-flex flex-column justify-content-center banner-grid" id="banner">
	<h1 class="highlight-title">Highlight</h1>
	<p class="highlight-subtitle">What's your favourite color?</p>
	<a href="./poll/59f967e4b8fa1e2e5803aedc"><span class="app-btn highlight-button"><i class="fa fa-check" aria-hidden="true"></i>
 Vote now!</span></a>
</div>

<div class="latest-poll">
	<div class="tag-grid d-flex justify-content-center">
		<div class="badge-tag">
		<p class="latest-title">New Votes</p>
		</div>
	</div>
	<p class="text-center">Select a poll to see the results and vote, or <a href="./poll/new">click here to make a new poll</a>.</p>
	<div id="latest">
	<p id="top">Loading...</p>
	</div>
</div>


<script type="text/javascript" src="/common/get-poll.js"></script>
<script type="text/javascript" src="/common/change-banner.js"></script>
