<div class="bg-grid-mypoll"></div>

<div class="login d-flex flex-column justify-content-center align-items-center">
				<p class="login-title">Please login first.</p>
				<a href="/auth/github">
					<div class="btn app-btn" id="login-btn">
						<p><i class="fa fa-github" aria-hidden="true"></i> Login with GitHub</p>
					</div>
				</a>
</div>
