<div class="bg-grid-mypoll"></div>

<div class="my-polls">
	<div class="tag-grid d-flex justify-content-center">
		<div class="badge-tag">
		<p class="latest-title">My Polls</p>
		</div>
	</div>
	
	<div class="polls">
	
	<p id="top"></p>
	<div id="all-poll">
	</div>
	</div>
	
	<a href="/poll"><span class="btn app-btn"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to all polls</span></a>
</div>

<script type="text/javascript" src="/common/my-poll.js"></script>
