<div class="bg-grid-poll"></div>


<div class="polls">

	<div class="tag-grid d-flex justify-content-center">
		<div class="badge-tag">
		<p class="latest-title">All Polls</p>
	</div>
	</div>
	<p class="text-center">Select a poll to see the results.</p>
	<p id="top">Loading...</p>
	
	<div class="all-poll">
	<div id="all-poll">
	</div>
	</div>
</div>

<script type="text/javascript" src="/common/get-poll.js"></script>
