@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: black;
  overflow: auto; }

#panel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: calc(100vh - 90px); }
  @media (max-width: 47.99em) {
    #panel {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; } }

a {
  color: #322d27;
  text-decoration: none; }
  a:hover, a:active {
    color: #ff0024;
    text-decoration: none; }

.hidden {
  visibility: hidden;
  width: 0;
  height: 0; }

.youvote-text {
  color: #322d27;
  /*greyblack */ }

.youvote-text-red {
  color: #ff0024;
  /*red */ }

.app-btn, .add-btn, .twitter-btn {
  background-color: #322d27;
  color: #FFF;
  width: auto;
  text-align: center;
  margin-bottom: 0.625em;
  padding: 0.3125em 1.25em;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .app-btn p, .add-btn p, .twitter-btn p {
    margin: 0; }
  .app-btn:hover, .add-btn:hover, .twitter-btn:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #322d27;
    cursor: pointer;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .app-btn:active, .add-btn:active, .twitter-btn:active {
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .app-btn:visited, .add-btn:visited, .twitter-btn:visited {
    -webkit-box-shadow: none;
            box-shadow: none; }

#top {
  border-radius: 0.3125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms; }
  #top p {
    font-size: 0.875em;
    margin-bottom: 0;
    text-align: center; }

.fade-opacity {
  opacity: 1 !important; }

.bg-grid-poll, .bg-grid-createpoll, .bg-grid-mypoll {
  background: url("/public/img/chris-lawton-172561.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 25em;
  margin-left: -15px;
  margin-right: -15px; }
  @media (max-width: 47.99em) {
    .bg-grid-poll, .bg-grid-createpoll, .bg-grid-mypoll {
      background: url("/public/img/chris-lawton-172561_768.jpg") no-repeat; } }

.bg-grid-createpoll {
  background: url("/public/img/jeff-sheldon-3224.jpg") no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 47.99em) {
    .bg-grid-createpoll {
      background: url("/public/img/jeff-sheldon-3224_768.jpg") no-repeat;
      background-position: 70%; } }

.bg-grid-mypoll {
  background: url("/public/img/chuttersnap-413007.jpg") no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 47.99em) {
    .bg-grid-mypoll {
      background: url("/public/img/chuttersnap-413007_768.jpg") no-repeat; } }

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 47.99em) {
    #menu {
      display: none !important; } }

.brand-logo {
  margin: 0.9375em 0; }

#welcome-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  padding: 0; }

.nav-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0; }
  @media (max-width: 47.99em) {
    .nav-list {
      width: auto;
      height: 100%;
      position: relative;
      display: block; } }
  .nav-list ul {
    list-type-style: none; }
  .nav-list li {
    display: inline-block;
    margin: 0.3125em 0.9375em; }
    @media (max-width: 47.99em) {
      .nav-list li {
        display: block;
        list-style: none;
        padding: 0.3125em 0; } }

#toggle-btn {
  display: none; }
  @media (max-width: 47.99em) {
    #toggle-btn {
      position: fixed;
      display: block;
      top: 0.625em;
      left: 0.625em;
      font-size: 1.25em;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 0.625em;
      z-index: 999;
      color: white;
      cursor: pointer;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      #toggle-btn:hover {
        background: rgba(0, 0, 0, 0.5); } }

#menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.625em;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  width: 100%;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1); }
  @media (max-width: 47.99em) {
    #menu-mobile {
      display: none;
      width: 200px;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      padding: 1.25em; } }

#banner {
  position: relative;
  min-height: 25em;
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
  text-align: center;
  background-color: #ffce4f;
  color: #322d27;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s; }

.highlight-title, .login-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3em; }

.highlight-subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  text-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.1); }

.highlight-button {
  position: absolute;
  right: 10%;
  bottom: 20%; }

.badge-tag {
  position: relative;
  background: red;
  height: 3.125em;
  width: 9.375em;
  border-radius: 0;
  margin-bottom: 1rem; }
  .badge-tag:before, .badge-tag:after {
    content: "";
    position: absolute;
    border-bottom: 0.625em solid white;
    border-left: 4.6875em solid transparent;
    border-right: 4.6875em solid transparent;
    top: 2.5em;
    left: 0px; }

.latest-title {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25em;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0em;
  font-weight: bold; }

#all-poll, #latest {
  position: relative;
  width: 80%;
  display: block;
  margin: 0 auto; }
  @media (max-width: 47.99em) {
    #all-poll, #latest {
      width: 100%; } }

.poll-grid {
  margin: 0.5em; }
  .poll-grid .poll-title-grid {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.625em 0.3125em;
    border-radius: 0.3125em;
    background: rgba(236, 236, 236, 0.2);
    text-align: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .poll-grid .poll-title-grid:hover, .poll-grid .poll-title-grid:active, .poll-grid .poll-title-grid:hover .vote-btn {
      background: #322d27;
      color: white; }
    .poll-grid .poll-title-grid:visited {
      color: #322d27; }
    .poll-grid .poll-title-grid:after {
      content: "";
      font-family: FontAwesome;
      position: absolute;
      right: 3.125em;
      top: 31%;
      font-size: 1.25em; }
      @media (max-width: 47.99em) {
        .poll-grid .poll-title-grid:after {
          top: 32%;
          right: 1.25em; } }

.poll-headline {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0.3125em;
  padding: 0; }
  @media (max-width: 47.99em) {
    .poll-headline {
      font-size: 1.25em; } }

.list-grid {
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0.3125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .list-grid:div:nth-child(2n) {
    background: white; }

.title-grid {
  width: calc((100vw / 5) - 2px);
  min-height: calc((100vw / 5) - 2px);
  height: calc((100vw / 5) - 2px);
  background: rgba(210, 244, 225, 0.5);
  padding: 1.25em;
  text-align: center;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column; }
  .title-grid:hover {
    background: white;
    color: #322d27; }
  .title-grid .poll-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    font-weight: 500; }
  .title-grid:nth-child(2n) {
    background: white;
    color: red; }

.go-grid {
  padding: 1.25em; }

.polls a:hover {
  color: #322d27; }

.poll-grid {
  position: relative; }

.remove-poll {
  position: absolute;
  top: 35%;
  left: 1.25em;
  border: 0; }
  .remove-poll:hover {
    background: red; }
  @media (max-width: 35.99em) {
    .remove-poll {
      left: -1.25em; } }

.create {
  max-width: 50em;
  width: 80%;
  min-width: 80%;
  margin: 0 auto; }
  @media (max-width: 47.99em) {
    .create {
      min-width: 100%; } }

#create-form {
  margin: 0.9375em 0; }

.add-btn {
  display: inline-block;
  background: #61be1a; }
  .add-btn:hover {
    background: #49b30f;
    color: white;
    cursor: pointer; }

.badge-danger-form {
  font-family: "Roboto", sans-serif;
  margin-left: 0.625em;
  font-size: 0.6875em;
  color: #ff0024; }

.required-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.6875em;
  color: #ff0024; }

.second-choice {
  margin-bottom: 1em; }

.polls-details {
  padding: 0.9375em 0.9375em; }

.pie-chart {
  padding: 0.9375em; }

#chart {
  position: relative;
  width: 100%;
  max-width: 38.75em;
  margin: 0 auto; }

#social {
  padding: 0; }

.twitter-btn {
  background: #00aced; }
  .twitter-btn:hover {
    background: #1dcaff;
    color: white; }

select {
  margin-bottom: 1em; }

#new-option {
  margin-bottom: 1em; }

#add-option {
  margin-left: 0.5em;
  margin-bottom: 1em; }

.login-title {
  font-size: 1.5em;
  text-align: center;
  margin: 0.9375em 0; }

#login-btn {
  margin: 0 auto; }

.footer {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.625em;
  margin-top: auto;
  font-size: 0.75em;
  text-align: right;
  background: white;
  width: 100%; }

.display {
  display: none !important; }

/*# sourceMappingURL=main.css.map */
