<nav>
	<p id="welcome-text"></p>
		<ul class="nav-list">
			<a href="/poll" class="menu"><li>Polls</li></a>
			<a href="/my-poll" class="menu"><li>My Poll</li></a>
			<a href="/poll/new" class="menu"><li>Create Polls</li></a>
			<a href="/logout" class="menu"><li id="logout">Logout</li></a>
		</ul>
</nav>

<script type="text/javascript" src="/common/nav.js"></script>
